<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="expo.modules.alarmandroid.AlarmReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="expo.modules.alarmandroid.FIRE" />
      </intent-filter>
    </receiver>
    <service
      android:name="expo.modules.alarmandroid.AlarmService"
      android:exported="false"
      android:foregroundServiceType="mediaPlayback" />
    <activity
      android:name="expo.modules.alarmandroid.AlarmActivity"
      android:exported="false"
      android:launchMode="singleInstance"
      android:showWhenLocked="true"
      android:turnScreenOn="true"
      android:excludeFromRecents="true"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    <receiver
      android:name="expo.modules.alarmandroid.BootReceiver"
      android:exported="true"
      android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
